<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= lname %></p>

     <h2><a href="/nbp">Kursy walut</a></h2>
     <h2><a href="/world">Świat ...</a></h2>


  <hr>

  </body>
</html>
