<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <h3>Aktualne kursy walut wg. NBP</h3>
      <a href="/nbp/ratesA">Tabela A kursów walut</a>
      <br>
      <a href="/nbp/rateX">Pobierz kurs konkretnej waluty...</a>
    </div>
    <hr>
    <a href="/"> ## powrót do strony głownej ##</a>

  </body>
</html>
