<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= lname %></p>

    <div>
      <h3>Tabela krajów świata</h3>
      <a href="/world/country">Kraje świata</a>
      <br>
      <a href="/world/city">Miasta świata</a>
    </div>
    <hr>
    <a href="/"> ## powrót do strony głownej ##</a>

  <hr>

  </body>
</html>
